.sign-in-form {
  padding: 30px 10px 10px 15px;
}
.sign-In-Outer {
  background-color: rgb(245, 244, 244);
  border-radius: 5px;
  height: 130px;
}
button {
  /* color: white; */
  padding: 3px;
  /* background-color: dimgray; */
  border-radius: 14px;
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
  margin: 0 5px;
}
.sign-in-form > label {
  display: block;
  padding: 3px;
}
